<header>
  <h1>Patio trasero</h1>
  <h6>Seco</h6>
</header>

<ion-content class="ion-padding">
  <img src="../../assets/ionIcons/seco.png" alt="">
</ion-content>

<ion-footer>

</ion-footer>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- TAB ESTADO -->
    <ion-tab-button tab="estado">
      <div class="estado_tab">
        <img src="../../assets/ionIcons/estado.png" alt="">
        Estado
      </div>
    </ion-tab-button>

    <!-- TAB INICIO -->
    <ion-tab-button tab="inicio">
      <div class="inicio_tab">
        <img src="../../assets/ionIcons/home.png" alt="">
        Inicio
      </div>
    </ion-tab-button>

    <!-- TAB CONFIGURACIÓN -->
    <ion-tab-button tab="config">
      <div class="conf_tab">
        <img src="../../assets/ionIcons/conf2.png" alt="">
        Configuración
      </div>
    </ion-tab-button>

    
  </ion-tab-bar>
</ion-tabs>