/* estado-patio.page.scss */

/* Asegúrate de apuntar a las clases correctas que envuelven el contenido del tab button */
.estado_tab,
.inicio_tab,
.conf_tab {
  display: flex;
  flex-direction: column; /* Cambia la dirección del contenido a columna para que la imagen esté encima del texto */
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  text-align: center; /* Asegúrate de que el texto esté centrado */
  color: #000000;
}

.estado_tab img,
.inicio_tab img,
.conf_tab img {
  width: 24px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 24px; /* Ajusta el tamaño de la imagen según tus necesidades */
  margin-bottom: 4px; /* Espacio entre la imagen y el texto */
}

.estado_tab,
.inicio_tab,
.conf_tab {
  font-size: 12px; /* Ajusta el tamaño del texto según tus necesidades */
  font-weight: 500; /* Ajusta el grosor del texto según tus necesidades */
}

.config-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.config-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 133px;
  color: #000000;
  font-weight: 900;
}

#estado-text {
  margin-top: 0px;
  margin-left: 51px;
  font-size: larger;
  font-weight: 900;
  color: #AF6017;
  padding-top: 10px;
  margin-bottom: 0px;
}

.contenido-conf {
  --background: #FFFFFF;
}

ion-content {
  --background: #F5F5F5
}

ion-tab-bar {
  --background: #B9D9DF;
}

ion-radio-group {
  --background: #FFFFFF;
  color: #000000;
}

ion-item {
  --background: #FFFFFF;
  color: #000000;
}

ion-radio {
  --color: #cc7a15;
}
// .invisible-div {
//   padding-right: 87px;
// }

// .edit-button {
//   padding-right: 30px;
// }

// .edit-image {
//   height: 24px;
//   width: 24px;
// }

// .ionEdit-button {
//   --border-radius: 20px;
// }