<header>
  <h1 class="buenosDias">Buenos días</h1>
  <p>Hecha un vistazo a tu jardín</p>
</header>

<ion-fab slot="fixed" horizontal="end">
  <ion-fab-button class="addButton">
    <img src="../../assets/ionIcons/add.svg" alt="">
  </ion-fab-button>
</ion-fab>

<br>
<br>

<ion-content>
  <h6>Dispositivos</h6>
  <div class="button-row">
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Patio trasero</span>
      </div>
    </ion-button>
    <ion-button class="vertical-button">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Jardín delantero</span>
      </div>
    </ion-button>
  </div>
</ion-content>