<header>
  <h1 class="buenosDias">Buenos días</h1>
  <p>Hecha un vistazo a tu jardín</p>
</header>

<ion-fab slot="fixed" horizontal="end">
  <ion-fab-button class="addButton" id="open-modal">
    <img src="../../assets/ionIcons/add.svg" alt="">
  </ion-fab-button>
</ion-fab>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Agregar dispositivo</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
          label="Id del dispositivo"
          labelPlacement="stacked"
          type="text"
          placeholder="Id"
          [(ngModel)]="values.id"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
          label="Nombre para el dispositivo"
          labelPlacement="stacked"
          type="text"
          placeholder="Nombre"
          [(ngModel)]="values.name"
          ></ion-input>
        </ion-item>

      </ion-content>
    </ng-template>
  </ion-modal>

<br>
<br>

<ion-content class="custom-background ion-padding">
  <h6 id="dispo-text">Dispositivos</h6>
  <div class="button-grid">
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Patio trasero</span>
      </div>
    </ion-button>
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Jardín delantero</span>
      </div>
    </ion-button>
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">vecina klient</span>
      </div>
    </ion-button>
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Román Gallardo</span>
      </div>
    </ion-button>
    
  </div>
</ion-content>




<!-- <header>
  <h1 class="buenosDias">Buenos días</h1>
  <p>Hecha un vistazo a tu jardín</p>
</header>

<ion-fab slot="fixed" horizontal="end">
  <ion-fab-button class="addButton">
    <img src="../../assets/ionIcons/add.svg" alt="">
  </ion-fab-button>
</ion-fab>

<br>
<br>

<ion-content class="custom-background ion-padding">
  <h6 id="dispo-text">Dispositivos</h6>
  <div class="button-row">
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Patio trasero</span>
      </div>
    </ion-button>

    <ion-button class="vertical-button">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Jardín delantero</span>
      </div>
    </ion-button>
  </div>

  <div class="button-row">
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">bcina klient</span>
      </div>
    </ion-button>

    <ion-button class="vertical-button">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Román Gallardo</span>
      </div>
    </ion-button>
    
  </div>
</ion-content> -->