<header>
  <h1 class="buenosDias">Buenos días</h1>
  <p>Hecha un vistazo a tu jardín</p>
</header>

<ion-fab slot="fixed" horizontal="end">
  <ion-fab-button class="addButton">
    <img src="../../assets/ionIcons/add.svg" alt="">
  </ion-fab-button>
</ion-fab>

<br>
<br>

<ion-content class="custom-background ion-padding">
  <h6 id="dispo-text">Dispositivos</h6>
  <div class="button-grid">
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Patio trasero</span>
      </div>
    </ion-button>
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Jardín delantero</span>
      </div>
    </ion-button>
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">vecina klient</span>
      </div>
    </ion-button>
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Román Gallardo</span>
      </div>
    </ion-button>
    
  </div>
</ion-content>




<!-- <header>
  <h1 class="buenosDias">Buenos días</h1>
  <p>Hecha un vistazo a tu jardín</p>
</header>

<ion-fab slot="fixed" horizontal="end">
  <ion-fab-button class="addButton">
    <img src="../../assets/ionIcons/add.svg" alt="">
  </ion-fab-button>
</ion-fab>

<br>
<br>

<ion-content class="custom-background ion-padding">
  <h6 id="dispo-text">Dispositivos</h6>
  <div class="button-row">
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Patio trasero</span>
      </div>
    </ion-button>

    <ion-button class="vertical-button">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Jardín delantero</span>
      </div>
    </ion-button>
  </div>

  <div class="button-row">
    <ion-button class="vertical-button" (click)="navigateToEstadoPatio()">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">bcina klient</span>
      </div>
    </ion-button>

    <ion-button class="vertical-button">
      <div class="button-content">
        <img src="../../assets/ionIcons/hoja_icono.png" class="button-icon">
        <span class="button-text">Román Gallardo</span>
      </div>
    </ion-button>
    
  </div>
</ion-content> -->